fastapi
uvicorn
pandas
openpyxl
streamlit
plotly
langchain
langchain-community
langchain-classic
langchain-ollama
ollama
python-multipart
langgraph
requests
seaborn
tabulate
chromadb
rank_bm25
pypdf
python-docx
pymupdf
pytesseract
pillow
sqlalchemy
psycopg2-binary
flashrank
scikit-learn
nbformat
markdown-pdf
pytest
flaml
lightgbm
xgboost
